<a href="https://colab.research.google.com/github/tk03145/tharun_INFO5502_SPRING2022/blob/main/lab_assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first Lab-assignment (01/25/2022, 50 points in total)**

(1) Write a Python program to count the number of characters in a string. (5 points)

Sample String : 'google.com', 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [1]:
# write your answer here
input_str = input("Enter the  String: ")
result = {}
for char in set(input_str):
  # fetching count of each char and adding it to result dictionary
  result[char] = input_str.count(char)

print(result)

Enter the  String: google.com
{'e': 1, 'g': 2, 'o': 3, '.': 1, 'm': 1, 'l': 1, 'c': 1}

(2) Write a Python program to sum all the items in a list. (5 points)

In [2]:
# write your answer here
input_list = [ 2, 3, 4, 5, 6]
sum = 0
for num in input_list:
 # Adding each num in the list
 sum = sum + num

print("The sum of the elements in the list is: {}".format(sum))

The sum of the elements in the list is: 20

(3) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (5 points)

Sample String : 'restart', 

Expected Result : 'resta\$t'

In [3]:
# write your answer here
input_str = "restart"
# replacing all occurences of first char except the first char itself...
print("".join((input_str[0], input_str[1:].replace(input_str[0], "*"))))

resta*t

(4) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (5 points)

In [4]:
# write your answer here
a = int(input("Enter the a value: "))
b = int(input("Enter the b value: "))

S = 3.14 * (1 + (a/b)) ** 3
print("The result is: {}".format(S))

Enter the a value: 5
Enter the b value: 6
The result is: 19.3487962962963

(5) Write a Python program to concatenate following dictionaries to create a new one. (5 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [5]:
# write your answer here
dic1={1:10, 2:20}; dic2={3:30, 4:40}; dic3={5:50,6:60}

result = {}
for i in [dic1, dic2, dic3]:
  # adding each dictionary to result dictionary
  result.update(i)

print(result)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(6) Write a Python program to check whether an element exists within a tuple. (5 points)

In [8]:
# write your answer here
sample_tuple = ("rainbow", "unicorn")

element = input("Enter an element you want to search in the tuple: ")

if element in sample_tuple:
  print("The element is present in the tuple!!!")
else:
  print("The element is not present in the tuple!!!")

Enter an element you want to search in the tuple: ab
The element is not present in the tuple!!!

(7) Write a Python program to find maximum and the minimum value in a set. (5 points)

In [9]:
# write your answer here
import sys
input_set = {15, 16, 11, 19, 13, 14, 17}
# uisng max(), min() built-in functions...
print("Maximum value in the set is: {}".format(max(input_set)))
print("Minimum value in the set is: {}".format(min(input_set)))

Maximum value in the set is: 19
Minimum value in the set is: 11

(8) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (5 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [11]:
# write your answer here
import numpy as np, random
studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

# the len_group numbers sum upto 30
len_group =[5, 6, 4, 6, 5, 4]
result = []
for length in len_group:
  # generating a sample of length in len_group  
  group = random.sample(studnet_list, length)
  # remove those elements from the studnet_list that are in group sample,
  # so that the next time those elements will not be in another sample. 
  studnet_list = list(set(studnet_list) ^ set(group))
  # Adding the random sample to a resultant 2d array.
  result = result + [group]
    
# printing the 6 groups.
for row in result:
    print(row, end= '\n')

['aos0040', 'pr0353', 'sa1198', 'hy0232', 'gn0108']
['sk1313', 'vb0218', 'fh0141', 'av0659', 'sg1297', 'kg0569']
['ja0964', 'sm1640', 'sc1229', 'sk1390']
['nm0618', 'dr0609', 'sk1458', 'ds0814', 'ak0934', 'sm1907']
['ms1500', 'bg0320', 'sb1357', 'nv0234', 'jl1252']
['sk1386', 'kg0470', 'ak0956', 'vm0377']

(9) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (5 points)

In [15]:
# write your answer here
from numpy.core.defchararray import endswith
# write your answer here
import numpy as np
arr = np.array([1, 2, 6, 5, 6, 4, 5, 6, 5, 4, 7, 8, 3, 6, 1])
#arr = np.array([2, 3, 4, 5])

flag = 0

for num in set(arr):
  # get the count of occurences that are greater than 1.
  if np.count_nonzero(arr == num) > 1:
    flag = 1
    print(num, end = ', ')

# if there are no duplicate elements, tehn we print '-1'.
if flag == 0:
  print("-1")

1, 4, 5, 6,

(10) Write a Python program to select all the Sundays of a specified year. (5 extra points)

In [16]:
# write your answer here
import pandas as pd

def all_sundays(year):
  # date_range(): we specify year and frequency and strftime to determine the output format.
  return pd.date_range(start=str(year), end=str(year+1), freq='W-SUN').strftime('%d-%B-%Y').tolist()

year = int(input("Enter the year you want to get Sundays of: "))
all_sundays(year)

Enter the year you want to get Sundays of: 2026

['04-January-2026',
 '11-January-2026',
 '18-January-2026',
 '25-January-2026',
 '01-February-2026',
 '08-February-2026',
 '15-February-2026',
 '22-February-2026',
 '01-March-2026',
 '08-March-2026',
 '15-March-2026',
 '22-March-2026',
 '29-March-2026',
 '05-April-2026',
 '12-April-2026',
 '19-April-2026',
 '26-April-2026',
 '03-May-2026',
 '10-May-2026',
 '17-May-2026',
 '24-May-2026',
 '31-May-2026',
 '07-June-2026',
 '14-June-2026',
 '21-June-2026',
 '28-June-2026',
 '05-July-2026',
 '12-July-2026',
 '19-July-2026',
 '26-July-2026',
 '02-August-2026',
 '09-August-2026',
 '16-August-2026',
 '23-August-2026',
 '30-August-2026',
 '06-September-2026',
 '13-September-2026',
 '20-September-2026',
 '27-September-2026',
 '04-October-2026',
 '11-October-2026',
 '18-October-2026',
 '25-October-2026',
 '01-November-2026',
 '08-November-2026',
 '15-November-2026',
 '22-November-2026',
 '29-November-2026',
 '06-December-2026',
 '13-December-2026',
 '20-December-2026',
 '27-December-2026']